org.bouncycastle:bcpkix-jdk15on:1.50
org.json:json:20211205
com.nimbusds:nimbus-jose-jwt:9.30.2
org.junit.jupiter:junit-jupiter-api:5.8.1
org.junit.jupiter:junit-jupiter-engine:5.8.1
Java HTTP Client version 11.0.2